a.exe
data/elmnts.dat
data/nods.dat
data/res.dat
obj/solver.o
obj/solver.mod
obj/plot.o
obj/plot.mod
obj/mesh.o
obj/mesh.mod
obj/melem.o
obj/fem1d.o
obj/energia.o
obj/elemental.mod
obj/ecenergia.mod
obj/data.o
obj/data.mod
fem1d.ps1
plot.gnu
plot.gnu
data/resf.dat
Untitled.m
